<div>
<h3>Topic Listing</h3>
<table>
  <thead>
    <tr>
      <th>Category</th><th>Topic</th><th>User Name</th><th>Posts</th><th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let topic of this._discussComponent.topics">
      <td>{{topic.category}}</td>
      <td>{{topic.name}}</td>
      <td>{{topic.user}}</td>
      <td>{{topic.answers.length}}</td>
      <td><button (click)="onSelectTopic(topic)">Select Topic</button>
      <button (click)="onSelectUser(topic.user)">Select User</button></td>
    </tr>
  </tbody>
</table>
</div>
<div>
<h4>Add a New Topic</h4>
<form (submit)="onCreateMade()" #formData="ngForm">
  Topic: <input type="text" name="topicName" [(ngModel)]="newTopic.name" #topicName="ngModel">
  <p></p>
  Description: <textarea name="description" rows="3" cols="40" [(ngModel)]="newTopic.description" #description="ngModel"></textarea>
  <p></p>
  Category: <select name="categoryName" [(ngModel)]="newTopic.category" #categoryName="ngModel">
    <option *ngFor="let category of Category" [value]="category">{{category}}</option>
  </select>
  <p></p>
  <button type="submit" [disabled]="!formData.form.valid">Submit</button>
</form>
</div>
